<section class="blog">
    <a routerLink="/blog" class="back">{{ blog().backLabel }}</a>
    <ng-container *ngIf="post$ | async as post; else missing">
        <p class="eyebrow">{{ post.date | date: 'fullDate' }}</p>
        <h1>{{ post.title }}</h1>
        <p class="description">{{ post.description }}</p>
        <hr />
        <div class="body" [innerHTML]="post.safeHtml"></div>
    </ng-container>

    <ng-template #missing>
        <p>{{ blog().missingMessage }} <a routerLink="/blog">{{ blog().title }}</a>.</p>
    </ng-template>
</section>